###########################################
# Requirements without versions specified #
###########################################

discord.py
pytz
mysql-connector-python
aiohttp
aiofiles
Pillow
sqlalchemy


###################################################
# Requirements with specified version constraints #
# (ideally all requirements should be in here)    #
###################################################

# ex) pyOpenSSL==0.13.1
# ex2) nose~=1.2
